@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: montserrat-bold, Arial;
}

@layer components {
    .page-padding>* {
        @apply px-2.5 md:px-7
    }

    .genre-list{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
        gap: 25px;
    }

    .login-sighup-btn {
        @apply mx-1 py-3 px-8
    }

    .arrow-btn {
        @apply bg-[#000000b3] rounded-full flex items-center w-8 h-8
    }

    .play-btn {
        @apply transition-all ease-in flex justify-center items-center mr-2 rounded-full bg-[#1ed760] w-12 h-12 shadow-black shadow-md cursor-pointer
    }

    .nav-link {
        @apply flex items-center gap-4 px-4 opacity-70 hover:opacity-100
    }

    .row {
        display: grid;
        grid-template-columns: 20px 60px minmax(200px, 1.5fr) 1fr 80px 70px 80px;
        gap: 10px;
        height: 56px;
        border-radius: .4em;
    }

    .row:hover>div {
        opacity: 1;
    }

    .sm-row {
        display: grid;
        grid-template-columns: 10px 1.5fr 38px 38px 38px 10px;
        gap: 5px;
        border-radius: .4em;

    }
}